

body {
	background-color: #E6E0E0;	
}



.container-fluid{
	    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

footer{

 	
position:fixed;
   left:0px;
   bottom:0px;  
  width: 100%;
 
}


.abajo {

	background-color:#131419!important;
	
	height: 100%;
}

