.banner{
width: 		;


}


.container{
	
}

img{


	    
width: 100%;
position: relative;

}

p {

		

	position: absolute;
	    bottom: 50%;
	      background: #8e898933;
    color: #101010;
	
	width: 80%;
	height: 40%;
	text-align: center;
}

.info{
	top: 0;		

	padding-left: 10%;
}
.invitacion{

	position: absolute;
	    bottom: 40%;
	      background: #8e898933;
    color: #101010;
	
	width: 80%;
	height: 40%;
	text-align: center;
}