@import url('https://fonts.googleapis.com/css?family=Audiowide|Gravitas+One|Krona+One|Roboto');
body{
	background-image: url("pexels-photo-297755 (1).jpeg") ;
	    background-repeat: no-repeat;
	        background-position: center;
	    
	
}

.header {
    color: #36A0FF;
    font-size: 27px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.form-control{
	float:right;
}

textarea{
	float:left;
}
input{
	width: 100%;	
}


span{
	font-family: Krona One;
}
h2{
	
	text-align: center;
	font-size: 3rem;
	margin-top: 50%;
	background-color: #61616763
	
}
p{
	font-style: blood;
}
.infod{
	background-color: black;
	opacity: 0.6;
	color:white;
	margin-bottom: 30px;
}
.peque{
	font-size: 10px;
	width: 7px;
}
.card-header{
	    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.a{
	background: #c0c0c0;
    
}
.b{
	    background: #a7868657;
	
}
.titulodeproducto{
	color: cornflowerblue;
}