
body{
	background-image: url("pexels-photo-459653.jpeg") ;
	    background-repeat: no-repeat;
	        background-position: center;
	    
	
}

.qs  {

		margin-top:40px;
		
		margin-bottom: 40px;
		 background: #8e898933;
    color: #101010;
		 

} 