@import url('https://fonts.googleapis.com/css?family=Audiowide|Gravitas+One|Roboto');





body{
	background-image: url("pexels-photo-583847.jpeg") ;
	    background-repeat: no-repeat;
	        background-position: center;
	    
	
}


h2{
	color: white;
	font-family:Audiowide;
	text-align: center;
}
p {

		

	    bottom: 50%;
	      background: #8e898933;
    color: #101010;
	width: 100%;
	height: 40%;
	text-align: center;
}

.info{
	padding-top :10%;


	
	font-size: 1.5rem;
}
.invitacion{

	    padding-top: 15px;
	      background: #8e898933;
    color: #101010;
	
	width: 100%;
	height: 40%;
	text-align: center;
}