<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="esqueleto2">

<head>

<link rel="stylesheet" href="estiloscontacto.css"></link>

</head>


<div layout:fragment="card-header">
	<h3 class="titulodeproducto">Cargar producto nuevo</h3>
</div>
<div layout:fragment="card-body">

	<div class="container">

		<div class="row">

			<div class="col-lg-2 col-md-0"></div>
			<div class="col-lg-6 col-md-12">
				<form action="/editarProducto" class="form-horizontal" method="post">

					<fieldset>
						<legend class="text-center ">Informacion de producto</legend>

						<div class="form-group">

							<p>
								Nombre de producto <span th:text="${nombre}"></span>
							</p>



						</div>
						<div class="form-group">
							<p>
								Nombre de proveedor <span th:text="${proveedor}"></span>
							</p>
						</div>
						<div class="form-group">
							<span>Este producto tiene es su estock <span
								th:text="${stock}"></span>
							</span> <input id="email" name="stock" type="number"
								placeholder="stock ej:25" th:value="${stock}"></input>

						</div>

						<div class="form-group">
							<span>Este producto tieneprecio de costo <span
								th:text="${precio_costo}"></span>
							</span> <input id="phone" name="precio_costo" type="number"
								placeholder="ingrese precio de costo ej:30"
								th:value="${precio_costo}"></input>

						</div>

						<div class="form-group">
							<span>Este producto tieneprecio de venta <span
								th:text="${precio_venta}"></span>
							</span> <input class="form-control" id="message" name="precio_venta"
								type="number" th:value="${precio_venta}"
								placeholder="ingrese precio de venta ej:30"></input>

						</div>
						<div class="form-group">
							<span>tiene fecha de ingreso <span
								th:text="${fecha_de_ingreso}"></span>
							</span>

						</div>

						<div class="form-group">
							<span>tiene categoria <span th:text="${categoria}"></span>
							</span> <input id="lname" name="categoria" type="text"
								placeholder="ingrese categotoria ej:ventas"
								th:value="${categoria}"></input>
								 <input id="lname"
								name="d" type="hidden" th:value="${d}"></input>

						</div>
						<div class="form-group">
							<div class="col-md-6 text-center">
								<button type="submit" class="btn btn-primary btn-lg">Submit</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</div>




<div layout:fragment="card-footer">
	<p>esto es el footer</p>
</div>






</html>