<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="esqueleto">
      
      <head>
      	
	<link rel="stylesheet" href="estiloscontacto.css"></link>

      </head>


<div  layout:fragment="contenido">
		

		<div class="container">
			
		<div class="row">
			
		
	<div class="col-3">
	</div>
	
	
	<div   class="col-6">
	
	<h2> Recibimos tu mensaje , reponderemos a la brevedad</h2>
	
	</div>
	

		



		</div>





		</div>
				


</div>



      </html>