  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="esqueleto">
      
      <head>
      	
	<link rel="stylesheet" href="estiloshome.css"></link>

      </head>
      
      
      <div class="container" layout:fragment="contenido">
      
      <div class="row">
      	
      
      		
	<div class="col-12 banner">
		
		<img src="fondo-home-banner.jpg" class="img-responsive" ></img>
		<div class="info">	<p>		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum at, minus nemo adipisci facere molestiae ab accusantium quia. Consectetur tempora impedit eum accusantium provident. Dignissimos voluptates modi, non labore est.</p>
		</div>



<div class="invitacion">
	<h1>Crea tu stock HOY</h1>
	<button type="button" class="btn btn-primary">Registrate</button>
			</div>
	</div>

      
      </div>
  </div>
      
      </html>