  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="esqueleto">
      
      <head>
      	
	<link rel="stylesheet" href="estiloshome.css"></link>

      </head>
      
      
      <div class="container" layout:fragment="contenido">
      
      <div class="row">
      	
    <div class="col-md-0 col-lg-1"></div>
      		
	<div class="col-md-12  col-lg-10 banner">
		
		
		<div class="info">	<h2>Bienvenidos a Mi stock</h2> <br></br> <p> Cree su stock con todos sus productos totalmente gratis</p>
      <div class="invitacion">
  <h1>Crea tu stock HOY</h1>
  <button type="button" class="btn btn-primary">Registrate</button>
      </div>
  </div>
		</div>

    <div class="col-md-0 col-lg-1"></div>




      
      </div>
  </div>
      
      </html>