<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="esqueleto">

<head>

<link rel="stylesheet" href="estilosquienessomos.css"></link>

</head>


<div class="container contenido" layout:fragment="contenido">

	<div class="row">

		<div class="col-md-0 col-lg-1"></div>

		<div class="col-md-12  col-lg-10  qs">
		
	<h3>Quienes somos?</h3> <br></br>
	<p>Somos una pagina para ayudar a los peque&ntilde;as empresas a orgranizar sus productos</p>
		
		</div>

		<div class="col-md-0 col-lg-1"></div>
		</div>


		<div class="row">

			<div class="col-md-0 col-lg-1"></div>

			<div class="col-md-12  col-lg-10 qs"> <h3>Quienes son nuestros principales clientes?</h3><br></br>
			
			<p>Nuestros principales clientes son los peque&ntilde;os emprendimientos como kioscos , heladerias , almacenes , etc</p>
			
			
			</div>

			<div class="col-md-0 col-lg-1"></div>




		</div>
		</div>
</html>