<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="esqueleto">
      
      <head>
      	
	<link rel="stylesheet" href="estilosquienessomos.css"></link>

      </head>
      
      
      <div class="container contenido" layout:fragment="contenido">
      
        <div class="row">
      	
      	
	         <div class="col-12 ">
		
	
		          <div class="qs">
              <h2>Quienes somos ? </h2>
	<p>		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum at, minus nemo adipisci facere molestiae ab accusantium quia. Consectetur tempora impedit eum accusantium provident. Dignissimos voluptates modi, non labore est.</p>
		          </div>
          </div>
        </div>
  
        <div class="row">
        
        
           <div class="col-12">
         

  
              <div class="qs">  <h2>Quienes son nuestro clientes ?    </h2> <p>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum at, minus nemo adipisci facere molestiae ab accusantium quia. Consectetur tempora impedit eum accusantium provident. Dignissimos voluptates modi, non labore est.</p>
              </div>
          </div>
        </div>



      </div>
      </html>